@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';
*{
  box-sizing: border-box;
}
body{
  background-color: #C68C46;
}

body, html{
  scroll-behavior: smooth;
  

}
body::-webkit-scrollbar {
  display: none;
}
.home-img-div{
  background-image: url("./assets/homepage.png");
  background-position: center;
  background-size: cover;
  border-radius: 80px;
}
.QP-div::-webkit-scrollbar {
  display: none;
}
.QP-card:hover .QP-card-hover {
  opacity: 1;
  width: 100%;
}
.QP-card-hover {
  opacity: 0;
  transition: opacity 1s ease;
  overflow: hidden;
}